/* Enemys */
.Scatach{
  background-image: url(https://pp.userapi.com/c855032/v855032545/90d78/uk956MFU4x4.jpg);
  width: 200px;
  height: 300px;
  background-size: cover;
  background-position: center;

}
.Atillia{
  background-image: url(https://pp.userapi.com/c855032/v855032545/90d9c/HzXrEUAbGr0.jpg);
  width: 200px;
  height: 300px;
  background-size: cover;
  background-position: center;

}
.Okito{
  background-image: url(https://pp.userapi.com/c855032/v855032545/90da6/QUF9NxzV0AI.jpg);
  width: 200px;
  height: 300px;
  background-size: cover;
  background-position: center;

}
.Mash{
  background-image: url(https://pp.userapi.com/c855032/v855032545/90dba/69sggy50rQ8.jpg);
  width: 200px;
  height: 300px;
  background-size: cover;
  background-position: center;

}
.Semiramida{
  background-image: url(https://pp.userapi.com/c855032/v855032545/90dcc/1pZFHaJN75o.jpg);
  width: 200px;
  height: 300px;
  background-size: cover;
  background-position: center;

}
.Diarmaid{
  background-image: url(https://pp.userapi.com/c855032/v855032545/90dd5/djJaTeQSyt4.jpg);
  width: 200px;
  height: 300px;
  background-size: cover;
  background-position: center;

}
.Gilgamesh{
  background-image: url(https://pp.userapi.com/c855032/v855032545/90ddd/Y4vmn5Y16SA.jpg);
  width: 200px;
  height: 300px;
  background-size: cover;
  background-position: center;

}
.Kirei{
  background-image: url(https://pp.userapi.com/c855032/v855032545/90ded/IAYyy6UQC14.jpg);
  width: 200px;
  height: 300px;
  background-size: cover;
  background-position: center;

}
.Shirou{
  background-image: url(https://pp.userapi.com/c855032/v855032545/90df7/koF_aNWmEH4.jpg);
  width: 200px;
  height: 300px;
  background-size: cover;
  background-position: center;

}
.Atalanta{
  background-image: url(https://pp.userapi.com/c855032/v855032545/90e08/YlXz6LiTX-M.jpg);
  width: 200px;
  height: 300px;
  background-size: cover;
  background-position: center;

}
