.Text1{
  text-align: justify;
   text-indent: 25px;
  color: rgba(0, 255, 255, 1);
  font-size: 18px;
  font-family: 'Oxygen', sans-serif;
  /* text-shadow: 2px 2px rgba(0,0,12,1); */
}

.Text5{
  font-family: 'Oxygen', sans-serif;
    position: relative;
    left: 39%;
  transform: translateX(-50%);
  font-size: 30px;
 color: rgba(0, 255, 255, 0.8);
}

.Text3{
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
  color:  rgba(0, 255, 255, 0.8);
}
.Text4{
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
  color:  rgba(0, 255, 255, 0.8);
}
/* Combat text style in arena */
.Times1{
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
  color:  rgba(0, 255, 97, 1);
}
.Times2{
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
  color:  rgba(255, 0, 0, 1);
}
.Dmg1{
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
  color:  rgba(0, 255, 97, 1);
}
.Dmg2{
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
  color:  rgba(255, 0, 0, 1);
}

/* End Text */
#Losing{
  font-family: 'Oxygen', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1000;
  font-size: 150px;
   color:  rgba(255, 0, 0, 1);
   white-space:nowrap;
  transition: ease-in-out 300ms;
  display: none;
}
#Winning{
  font-family: 'Oxygen', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1000;
  font-size: 150px;
   color:  rgba(0, 255, 97, 1);
   white-space:nowrap;
  transition: ease-in-out 300ms;
  display: none;
}
/* End Text */

/* Header of our servants describe boxes */
.Header1{
  font-family: 'Oxygen', sans-serif;
  background: linear-gradient(to left, #00FF59, #33FFE9, #00FFA6, #FF33E9);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  font-size: 25px;

}
/* Text style in ability text */
.AbilityText{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to left, #5900FF, #FF00E8);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: 'Oxygen', sans-serif;
  font-weight: 800;
}
